@page
@model TourManagement.Pages.Accounts.LogoutModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>Đăng xuất</title>
</head>
<body>
    <form method="post"></form>
</body>
</html>

